[Desktop Entry]
Type=Application
Name=Compositor
GenericName=Image Editor
Comment=A free, open-source, Photoshop-style image editor
Exec=compositor
Icon=com.wonderassembly.Compositor
Terminal=false
Categories=Graphics;Photography;2DGraphics;RasterGraphics;
MimeType=application/x-compositor-project;image/png;image/jpeg;image/tiff;image/webp;
Keywords=photo;editor;image;layers;compositing;